@model Trunc.Models.UrlItemViewModel

@{
    ViewBag.Title = "Exists";
}

<h2>Already Exists</h2>
<h3>
    @{
        var url = string.Format("http://{0}:{1}/{2}", Request.Url.Host, Request.Url.Port, Model.ShortenUrl);
    }
    Your @Resources.Site.ApplicationName URL is <a href="@url">@url</a>
</h3>