@model Trunc.Models.UrlItemViewModel

@{
    ViewBag.Title = "Exists";
}

<h2>Already Exists</h2>
<h3>
    Your @Resources.Site.ApplicationName URL is <a href="@Model.FullShortUrl">@Model.FullShortUrl</a>
</h3>