@model Trunc.Models.UrlItemViewModel

@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
<h3>
    Your @Resources.Site.ApplicationName URL is <a href="@Model.FullShortUrl">@Model.FullShortUrl</a>
</h3>
